In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
a={"x":[2,5,8,11],"y":[0,0,1,1]}

In [7]:
df=pd.DataFrame(a)
df

    x  y
0   2  0
1   5  0
2   8  1
3  11  1

In [8]:
x=[7]
df["x-x1"]=np.abs(df.x-x)

In [9]:
df

    x  y  x-x1
0   2  0     5
1   5  0     2
2   8  1     1
3  11  1     4

In [10]:
df.loc[4]={"x":7,"y":1}

In [11]:
df

    x  y  x-x1
0   2  0   5.0
1   5  0   2.0
2   8  1   1.0
3  11  1   4.0
4   7  1   NaN