# Pandas

In [1]:
import numpy as np
import pandas as pd

# things to remember : axis=0 means row , axis=1 means col

In [2]:
df= pd.Series([1,2,3,4,5,6,np.nan,8]) #np.nan used for providing null values

In [3]:
df #by default it is in float

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
7    8.0
dtype: float64

In [3]:
df= pd.DataFrame(np.random.randn(4,6),columns=list("Abcdef")) #random randn for float values

In [7]:
df

          A         b         c         d         e         f
0  0.774230 -0.524857  0.268011  0.465872 -0.109775 -0.007394
1 -0.367352 -1.409638  1.374124  0.906562 -0.786478  0.012707
2 -1.740181 -1.092108  0.216120 -0.321319 -0.020393 -0.098159
3  1.595575  0.686930  0.151064 -1.194477  1.493757  1.038973

In [ ]:
# Dataframes

In [5]:
di1= {"name":["abc","cde","def","ghi","rts","hjo","lol","ffe","gfh"],"age":[11,12,13,14,15,16,np.nan,18,19],"marks":[100,110,120,130,np.nan,170,180,190,200]}

In [8]:
df1= pd.DataFrame(di1)
df1

  name   age  marks
0  abc  11.0  100.0
1  cde  12.0  110.0
2  def  13.0  120.0
3  ghi  14.0  130.0
4  rts  15.0    NaN
5  hjo  16.0  170.0
6  lol   NaN  180.0
7  ffe  18.0  190.0
8  gfh  19.0  200.0

In [9]:
df1.T #transpose of df , like col. will be row , row will be col.(not permanent)

           0      1      2      3     4      5      6      7      8
name     abc    cde    def    ghi   rts    hjo    lol    ffe    gfh
age     11.0   12.0   13.0   14.0  15.0   16.0    NaN   18.0   19.0
marks  100.0  110.0  120.0  130.0   NaN  170.0  180.0  190.0  200.0

In [10]:
df1["name"] # if single list, it will display normal

0    abc
1    cde
2    def
3    ghi
4    rts
5    hjo
6    lol
7    ffe
8    gfh
Name: name, dtype: object

In [11]:
df1[["name"]] #in tabular form if use double list

  name
0  abc
1  cde
2  def
3  ghi
4  rts
5  hjo
6  lol
7  ffe
8  gfh

In [12]:
df1.columns #all columns name

Index(['name', 'age', 'marks'], dtype='object')

In [13]:
df1.dtypes #gives column datatypes info

name      object
age      float64
marks    float64
dtype: object

In [14]:
df1.describe() #mean , count , quartiles, std, min , max

             age      marks
count   8.000000    8.00000
mean   14.750000  150.00000
std     2.815772   39.27922
min    11.000000  100.00000
25%    12.750000  117.50000
50%    14.500000  150.00000
75%    16.500000  182.50000
max    19.000000  200.00000

In [15]:
df1.info() #info about df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    9 non-null      object
 1   age     8 non-null      float64
 2   marks   8 non-null      float64
dtypes: float64(2), object(1)
memory usage: 344.0+ bytes

In [4]:
url=input()
df=pd.read_csv(url)
df.head()

https://bit.ly/3R0Fay0

,Title,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
0,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
4,Infidus (2015),Crime| Drama| Horror,10-Apr-15,USA,NaN,5.8,80 min,"Directed by Giulio De Santi. With Bonini Mino,...",Bonini Mino|Massimo Caratelli|Maurizio Zaffino...,Italian,NaN,NaN

In [21]:
df.loc[::-1,:].reset_index(drop=True)

,Title,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
0,13 Cameras (2015),Drama| Horror,15-Apr-16,USA,NaN,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN
1,BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,R,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
2,Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
3,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
4,Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,PG-13,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
3323,Infidus (2015),Crime| Drama| Horror,10-Apr-15,USA,NaN,5.8,80 min,"Directed by Giulio De Santi. With Bonini Mino,...",Bonini Mino|Massimo Caratelli|Maurizio Zaffino...,Italian,NaN,NaN
3324,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
3325,Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3326,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
3327,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN

In [22]:
df.index #to check no. of indexes (rows) (index= stop-1)

RangeIndex(start=0, stop=3328, step=1)

In [23]:
df.columns #show all columns name

Index(['Title', 'Genres', 'Release Date', 'Release Country', 'Movie Rating',
       'Review Rating', 'Movie Run Time', 'Plot', 'Cast', 'Language',
       'Filming Locations', 'Budget'],
      dtype='object')

## data WRangling

In [24]:
df["Title"] #single column

0                                 Gut (2012)
1            The Haunting of Mia Moss (2017)
2                        Sleepwalking (2017)
3        Treasure Chest of Horrors II (2013)
4                             Infidus (2015)
                        ...
3323              Victor Frankenstein (2015)
3324    The Exorcism of Molly Hartley (2015)
3325                      Talon Falls (2017)
3326      BloodRayne: The Third Reich (2011)
3327                       13 Cameras (2015)
Name: Title, Length: 3328, dtype: object

In [25]:
#selecting multiple column

df[["Title","Budget"]]

                                     Title        Budget
0                               Gut (2012)           NaN
1          The Haunting of Mia Moss (2017)      $30,000
2                      Sleepwalking (2017)           NaN
3      Treasure Chest of Horrors II (2013)           NaN
4                           Infidus (2015)           NaN
...                                    ...           ...
3323            Victor Frankenstein (2015)  $40,000,000
3324  The Exorcism of Molly Hartley (2015)           NaN
3325                    Talon Falls (2017)           NaN
3326    BloodRayne: The Third Reich (2011)  $10,000,000
3327                     13 Cameras (2015)           NaN

[3328 rows x 2 columns]

In [26]:
# selecting row

df[300:308]

,Title,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
300,Speed Demons (2012),Horror,2012,USA,NaN,4.3,NaN,"Directed by Dan Garcia. With Phil Austin, Cour...",Phil Austin|Courtney James Clark|Delilah Donov...,English,NaN,NaN
301,Anonymous Zombie (2017),Horror,1-Oct-17,Canada,NaN,NaN,NaN,Directed by Richard MacQueen. With James Mulli...,James Mullinger|Jesse LaPointe|Courtney Arsena...,English,NaN,NaN
302,The Rakugo Movie (2012),Comedy| Crime| Drama| Horror,6-Apr-13,Japan,NaN,8.3,110 min,"Directed by Mikihiro Endô, Issey Matsui, Yûich...",Tsubasa Honda|Syunputei Ichinosuke|Sanshirô Ka...,Japanese,"Tokyo, Japan",NaN
303,Daylight (2013),Horror| Mystery| Thriller,24-Aug-13,UK,NOT RATED,4.2,97 min,"Directed by David McCracken, Joel Townsend, Ka...",Jennifer Bacon|David McCracken|Josh Riedford|S...,English,NaN,NaN
304,Collective: Unconscious (2016),Drama| Horror| Mystery| Thriller,13-Mar-16,USA,NaN,6.9,77 min,"Directed by Lily Baldwin, Frances Bodomo, Dani...",Frank Mosley|Tonya Pinkins|James Adomian|Will ...,English,NaN,"$15,000"
305,But Deliver Us from Evil (2017),Horror| Thriller,27-Apr-17,USA,NaN,7.6,109 min,"Directed by Joshua Coates. With Eric Roberts, ...",Eric Roberts|Pooch Hall|Grant Harvey|Thorsten ...,English,"Raleigh, North Carolina, USA","$1,675,000"
306,The Demonic Tapes (2017),Horror,12-May-17,UK,NaN,4.2,71 min,Directed by Richard Mansfield. With Alice Keed...,Alice Keedwell|Daniel Mansfield|Darren Munn,English,NaN,£400
307,A Capital dos Mortos 2: Mundo Morto (2015),Drama| Horror,17-May-15,Brazil,NaN,7.4,71 min,"Directed by Tiago Belotti. With Lorena Aloli, ...",Lorena Aloli|José de Campos|Tiago Esmeraldo|Gi...,Portuguese,"Brasília, Distrito Federal, Brazil","BRL 5,000"

## LOC

### extracting particular row , particular value

In [27]:
#display first row  of only specific column

df.loc[0,"Genres"]

' Drama| Horror| Thriller'

In [28]:
df.loc[0:1,["Title","Language","Budget"]] # first two multiple columns and rows values

                             Title Language    Budget
0                       Gut (2012)  English       NaN
1  The Haunting of Mia Moss (2017)  English  $30,000

In [29]:
#multiple rows and multiple values

df.loc[0:4,["Title","Review Rating","Genres"]].sort_index(ascending=False)

,Title,Review Rating,Genres
4,Infidus (2015),5.8,Crime| Drama| Horror
3,Treasure Chest of Horrors II (2013),3.7,Comedy| Horror| Thriller
2,Sleepwalking (2017),NaN,Horror
1,The Haunting of Mia Moss (2017),NaN,Horror
0,Gut (2012),3.9,Drama| Horror| Thriller

In [ ]:
## apply conditions

In [30]:
df[df["Review Rating"]>6.0]

,Title,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
7,Parasyte: Part 2 (2015),Action| Drama| Horror| Sci-Fi,25-Apr-15,Japan,NaN,6.5,117 min,Directed by Takashi Yamazaki. With Shôta Somet...,Shôta Sometani|Eri Fukatsu|Ai Hashimoto|Sadao ...,Japanese,"Tokyo, Japan",NaN
17,Falling (2016),Drama| Horror| Romance| Thriller,8-Apr-16,USA,NaN,7.1,105 min,"Directed by Ali Askari. With Josh Helman, Yael...",Josh Helman|Yael Stone|Jennifer Allcott|Paul S...,English,"Utica, New York, USA",NaN
23,Darkroom (2017),Drama| Horror,18-Jan-17,Philippines,NaN,6.6,95 min,"Directed by Pedring Lopez. With Ella Cruz, Bre...",Ella Cruz|Bret Jackson|AJ Muhlach|Donnalyn Bar...,Filipino|Tagalog,NaN,NaN
34,Yaamirukka Bayamey (2014),Comedy| Horror,9-May-14,India,NaN,7.2,125 min,"Directed by Deekay. With Krishna Sekhar, Rupa ...",Krishna Sekhar|Rupa Manjari|Karunakaran|Oviya|...,Tamil,NaN,NaN
35,Grindsploitation (2016),Action| Crime| Horror| Sci-Fi| Thriller,31-Oct-16,USA,UNRATED,6.2,140 min,"Directed by Lloyd Kaufman, James Atkins, Dusti...",P.J. Soles|Lloyd Kaufman|Shawn C. Phillips|Sha...,English,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3314,The Carmilla Movie (2017),Comedy| Horror| Romance,26-Oct-17,Canada,NaN,9.6,97 min,"Directed by Spencer Maybee. With Elise Bauman,...",Elise Bauman|Natasha Negovanlis|Annie Briggs|K...,English,"Toronto, Ontario, Canada",NaN
3316,Odd Thomas (2013),Comedy| Fantasy| Horror| Mystery| Romance| Th...,28-Feb-14,USA,NaN,6.9,NaN,Directed by Stephen Sommers. With Anton Yelchi...,Anton Yelchin|Ashley Sommers|Leonor Varela|Mat...,English,"Plaza Cafe Downtown - 54 Lincoln Ave., Santa F...","$27,000,000"
3319,Insidious: Chapter 3 (2015),Horror| Mystery| Thriller,5-Jun-15,USA,PG-13,6.1,97 min,Directed by Leigh Whannell. With Dermot Mulron...,Dermot Mulroney|Stefanie Scott|Angus Sampson|L...,English,"929 South Broadway, Downtown, Los Angeles, Cal...","$10,000,000"
3321,Before I Wake (2016),Drama| Fantasy| Horror| Thriller,2017,USA,PG-13,6.1,97 min,"Directed by Mike Flanagan. With Kate Bosworth,...",Kate Bosworth|Thomas Jane|Jacob Tremblay|Annab...,English,"Fairhope, Alabama, USA",NaN
3322,13 Sins (2014),Horror| Thriller,11-Apr-14,Poland,R,6.3,93 min,"Directed by Daniel Stamm. With Mark Webber, De...",Mark Webber|Devon Graye|Tom Bower|Rutina Wesle...,English,"New Orleans, Louisiana, USA","$4,000,000"

In [31]:
df.dtypes

Title                 object
Genres                object
Release Date          object
Release Country       object
Movie Rating          object
Review Rating        float64
Movie Run Time        object
Plot                  object
Cast                  object
Language              object
Filming Locations     object
Budget                object
dtype: object

In [ ]:
## set index

In [32]:
df.set_index("Title") #title as a index(not permanently , inplace=true for permanent)

,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
Title,,,,,,,,,,,
Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
Infidus (2015),Crime| Drama| Horror,10-Apr-15,USA,NaN,5.8,80 min,"Directed by Giulio De Santi. With Bonini Mino,...",Bonini Mino|Massimo Caratelli|Maurizio Zaffino...,Italian,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,PG-13,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,R,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
13 Cameras (2015),Drama| Horror,15-Apr-16,USA,NaN,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN

In [33]:
df.set_index("Title",inplace=True)

In [34]:
df

,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
Title,,,,,,,,,,,
Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
Infidus (2015),Crime| Drama| Horror,10-Apr-15,USA,NaN,5.8,80 min,"Directed by Giulio De Santi. With Bonini Mino,...",Bonini Mino|Massimo Caratelli|Maurizio Zaffino...,Italian,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,PG-13,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,R,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
13 Cameras (2015),Drama| Horror,15-Apr-16,USA,NaN,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN

In [35]:
df.loc["13 Cameras (2015)"] #now we extract the details with movies name

Genres                                                   Drama| Horror
Release Date                                                 15-Apr-16
Release Country                                                    USA
Movie Rating                                                       NaN
Review Rating                                                      5.1
Movie Run Time                                                  87 min
Plot                 Directed by Victor Zarcoff. With Neville Archa...
Cast                 Neville Archambault|Sean Carrigan|PJ McCabe|Br...
Language                                                       English
Filming Locations                           Escondido, California, USA
Budget                                                             NaN
Name: 13 Cameras (2015), dtype: object

In [36]:
#reset the index
df.reset_index(inplace=True)

In [37]:
df

,Title,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
0,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
4,Infidus (2015),Crime| Drama| Horror,10-Apr-15,USA,NaN,5.8,80 min,"Directed by Giulio De Santi. With Bonini Mino,...",Bonini Mino|Massimo Caratelli|Maurizio Zaffino...,Italian,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3323,Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,PG-13,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
3324,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
3325,Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
3326,BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,R,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
3327,13 Cameras (2015),Drama| Horror,15-Apr-16,USA,NaN,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN

In [ ]:
## Sort index

In [38]:
df.sort_index(ascending=False) #descending order

,Title,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
3327,13 Cameras (2015),Drama| Horror,15-Apr-16,USA,NaN,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN
3326,BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,R,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
3325,Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
3324,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
3323,Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,PG-13,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
4,Infidus (2015),Crime| Drama| Horror,10-Apr-15,USA,NaN,5.8,80 min,"Directed by Giulio De Santi. With Bonini Mino,...",Bonini Mino|Massimo Caratelli|Maurizio Zaffino...,Italian,NaN,NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
0,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN

In [ ]:
## AND operator

In [39]:
df[(df["Genres"]=="Horror") | (df["Review Rating"]==4.6)]#? why, if "and" replace by "or" it works but not in "and" even the values exist

,Title,Genres,Release Date,Release Country,Movie Rating,Review Rating,Movie Run Time,Plot,Cast,Language,Filming Locations,Budget
8,Stranger in the House (2015),Horror| Mystery| Thriller,28-May-17,Spain,PG-13,4.6,90 min,Directed by Devon Gummersall. With Annabella S...,Annabella Sciorra|Tammy Blanchard|Nathan Darro...,English,"Warwick, New York, USA",NaN
47,Bloody Chainsaw Girl (2016),Action| Horror,20-Feb-16,Japan,NaN,4.6,NaN,"Directed by Hiroki Yamaguchi. With Mizuho Abe,...",Mizuho Abe|Seijirô Nakamura|Ray Nishimura|Kaya...,Japanese,NaN,NaN
87,House with 100 Eyes (2013),Horror,2013,USA,NOT RATED,4.6,75 min,"Directed by Jay Lee, Jim Roof. With Jim Roof, ...",Jim Roof|Shannon Malone|Larissa Lynch|Liz Burg...,English,NaN,NaN
155,Everyone Must Die! (2012),Horror,23-Sep-12,USA,NaN,4.6,71 min,Directed by Steve Rudzinski. With Nicole Beatt...,Nicole Beattie|Erica Benda|Rebecca Campbell|Da...,English,"Wheeling, West Virginia, USA","$3,500"
157,Ice Cream (2014),Horror| Thriller,12-Jul-14,India,NaN,4.6,144 min,Directed by Ram Gopal Varma. With Tejaswi Madi...,Tejaswi Madivada|Navdeep|Sandeepthi,Telugu,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3183,Boo! A Madea Halloween (2016),Comedy| Horror,21-Oct-16,USA,PG-13,4.6,103 min,"Directed by Tyler Perry. With Tyler Perry, Cas...",Tyler Perry|Cassi Davis|Patrice Lovely|Bella T...,English,"Atlanta, Georgia, USA","$20,000,000"
3302,The Scarehouse (2014),Crime| Horror| Thriller,13-Jan-16,USA,NOT RATED,4.6,84 min,Directed by Gavin Michael Booth. With Sarah Bo...,Sarah Booth|Kimberly-Sue Murray|Katherine Barr...,English,"Windsor, Ontario, Canada","CAD 200,000"
3313,Nurse 3D (2013),Horror| Thriller,24-Oct-13,Russia,R,4.6,84 min,Directed by Douglas Aarniokoski. With Paz de l...,Paz de la Huerta|Katrina Bowden|Judd Nelson|Co...,English,North York General Hospital - Branson Division...,"$10,000,000"
3324,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
3325,Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN

In [42]:
df.Review.isin([4.6]).value_counts()

False    3246
True       82
Name: Review, dtype: int64

In [41]:
df.rename(columns= {"Review Rating": "Review"}, inplace=True)

## Adding new column

In [ ]:
# example 
c1= ["ind","pak","sl","bang","afg"]
df2["c1"]=c1 #this will add a new column with name "c1"

## Rename the column name

In [46]:
### syntax : df.rename(columns={"old_name":"new_name"},inplace=true)

In [47]:
df.rename(columns= {"Movie Run Time": "Run Time"}, inplace=True)

In [45]:
df.head(n=10)

,Title,Genres,Release Date,Release Country,Movie Rating,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
0,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
4,Infidus (2015),Crime| Drama| Horror,10-Apr-15,USA,NaN,5.8,80 min,"Directed by Giulio De Santi. With Bonini Mino,...",Bonini Mino|Massimo Caratelli|Maurizio Zaffino...,Italian,NaN,NaN
5,In Extremis (2017),Horror| Thriller,2017,UK,NaN,NaN,93 min,"Directed by Steve Stone. With David O'Hara, Is...",David O'Hara|Isabelle Allen|Neil Pearson|Toyah...,English,NaN,"$3,400,000"
6,Ghostlight (2013),Drama| Horror| Thriller,3-Jun-14,USA,NOT RATED,5.1,90 min,"Directed by Jeff Ferrell. With Eden Campbell, ...",Eden Campbell|Lisa Coronado|David A. Crellin|J...,English,NaN,NaN
7,Parasyte: Part 2 (2015),Action| Drama| Horror| Sci-Fi,25-Apr-15,Japan,NaN,6.5,117 min,Directed by Takashi Yamazaki. With Shôta Somet...,Shôta Sometani|Eri Fukatsu|Ai Hashimoto|Sadao ...,Japanese,"Tokyo, Japan",NaN
8,Stranger in the House (2015),Horror| Mystery| Thriller,28-May-17,Spain,PG-13,4.6,90 min,Directed by Devon Gummersall. With Annabella S...,Annabella Sciorra|Tammy Blanchard|Nathan Darro...,English,"Warwick, New York, USA",NaN
9,Tutak Tutak Tutiya (2016),Comedy| Horror,7-Oct-16,India,NaN,5.4,138 min,"Directed by Vijay. With Tamannaah Bhatia, Kari...",Tamannaah Bhatia|Karishma Gulati|Esha Gupta|Am...,Hindi,NaN,NaN

## Changing row values

In [48]:
df.loc[4]= ["bhaago bhoot aaya","Most horror","30-feb-100B.C.","Earth616","PG-13",10.0,"1000min","Directed by Casper the Friendly ghost","Annabelle|THE nun|","Ancient","Ghar me","100 Billion"]

In [49]:
df.loc[4] #changed successfully

Title                                    bhaago bhoot aaya
Genres                                         Most horror
Release Date                                30-feb-100B.C.
Release Country                                   Earth616
Movie Rating                                         PG-13
Review                                                10.0
Run Time                                           1000min
Plot                 Directed by Casper the Friendly ghost
Cast                                    Annabelle|THE nun|
Language                                           Ancient
Filming Locations                                  Ghar me
Budget                                         100 Billion
Name: 4, dtype: object

## Changing rows single values

In [50]:
df.loc[2,"Movie Rating"]="Unrated"

In [51]:
df # changed successfully

,Title,Genres,Release Date,Release Country,Movie Rating,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
0,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,Unrated,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
4,bhaago bhoot aaya,Most horror,30-feb-100B.C.,Earth616,PG-13,10.0,1000min,Directed by Casper the Friendly ghost,Annabelle|THE nun|,Ancient,Ghar me,100 Billion
...,...,...,...,...,...,...,...,...,...,...,...,...
3323,Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,PG-13,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
3324,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
3325,Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
3326,BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,R,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
3327,13 Cameras (2015),Drama| Horror,15-Apr-16,USA,NaN,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN

In [ ]:
## replace the value (like we wants to replace all NAn values with PG-13 in "movie rating col.")

In [52]:
df["Movie Rating"].replace({"None":"PG-13"},inplace=True) #? why its not working
df

,Title,Genres,Release Date,Release Country,Movie Rating,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
0,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,NaN,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,Unrated,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,NOT RATED,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
4,bhaago bhoot aaya,Most horror,30-feb-100B.C.,Earth616,PG-13,10.0,1000min,Directed by Casper the Friendly ghost,Annabelle|THE nun|,Ancient,Ghar me,100 Billion
...,...,...,...,...,...,...,...,...,...,...,...,...
3323,Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,PG-13,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
3324,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,UNRATED,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
3325,Talon Falls (2017),Horror,13-Oct-17,USA,NaN,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
3326,BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,R,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
3327,13 Cameras (2015),Drama| Horror,15-Apr-16,USA,NaN,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN

In [ ]:
## remove the columns

In [53]:
df.drop(columns=["Movie Rating"],inplace=True)

In [54]:
df

,Title,Genres,Release Date,Release Country,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
0,Gut (2012),Drama| Horror| Thriller,26-Oct-12,USA,3.9,91 min,"Directed by Elias. With Jason Vail, Nicholas W...",Jason Vail|Nicholas Wilder|Sarah Schoofs|Kirst...,English,"New York, USA",NaN
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
4,bhaago bhoot aaya,Most horror,30-feb-100B.C.,Earth616,10.0,1000min,Directed by Casper the Friendly ghost,Annabelle|THE nun|,Ancient,Ghar me,100 Billion
...,...,...,...,...,...,...,...,...,...,...,...
3323,Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
3324,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
3325,Talon Falls (2017),Horror,13-Oct-17,USA,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
3326,BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
3327,13 Cameras (2015),Drama| Horror,15-Apr-16,USA,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN

In [ ]:
## delete the row

In [55]:
df.drop(index=0)

,Title,Genres,Release Date,Release Country,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
1,The Haunting of Mia Moss (2017),Horror,13-Jan-17,USA,NaN,NaN,"Directed by Jake Zelch. With Nicola Fiore, Bri...",Nicola Fiore|Brinke Stevens|Curtis Carnahan|Ja...,English,NaN,"$30,000"
2,Sleepwalking (2017),Horror,21-Oct-17,Canada,NaN,NaN,"Directed by David Briggs. With Alysia Topol, A...",Alysia Topol|Anthony Makela|Kelsi Ashley|Patri...,English,"Sudbury, Ontario, Canada",NaN
3,Treasure Chest of Horrors II (2013),Comedy| Horror| Thriller,23-Apr-13,USA,3.7,82 min,"Directed by M. Kelley, Shawn C. Phillips, Alex...",Veronica Ricci|Nicholas Adam Clark|James Culle...,English,"Baltimore, Maryland, USA",NaN
4,bhaago bhoot aaya,Most horror,30-feb-100B.C.,Earth616,10.0,1000min,Directed by Casper the Friendly ghost,Annabelle|THE nun|,Ancient,Ghar me,100 Billion
5,In Extremis (2017),Horror| Thriller,2017,UK,NaN,93 min,"Directed by Steve Stone. With David O'Hara, Is...",David O'Hara|Isabelle Allen|Neil Pearson|Toyah...,English,NaN,"$3,400,000"
...,...,...,...,...,...,...,...,...,...,...,...
3323,Victor Frankenstein (2015),Drama| Horror| Sci-Fi| Thriller,25-Nov-15,USA,6.0,110 min,Directed by Paul McGuigan. With Daniel Radclif...,Daniel Radcliffe|Jessica Brown Findlay|Bronson...,English,"London, England, UK","$40,000,000"
3324,The Exorcism of Molly Hartley (2015),Horror,9-Oct-15,USA,4.6,96 min,"Directed by Steven R. Monroe. With Sarah Lind,...",Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,English,"Winnipeg, Manitoba, Canada",NaN
3325,Talon Falls (2017),Horror,13-Oct-17,USA,4.6,75 min,"Directed by Joshua Shreve. With Brad Bell, Jor...",Brad Bell|Jordyn Rudolph|Ryan Rudolph|Morgan W...,English,NaN,NaN
3326,BloodRayne: The Third Reich (2011),Action| Adventure| Fantasy| Horror,17-Mar-12,Japan,3.0,79 min,"Directed by Uwe Boll. With Natassia Malthe, Br...",Natassia Malthe|Brendan Fletcher|Michael Paré|...,English,"Zagreb, Croatia","$10,000,000"
3327,13 Cameras (2015),Drama| Horror,15-Apr-16,USA,5.1,87 min,Directed by Victor Zarcoff. With Neville Archa...,Neville Archambault|Sean Carrigan|PJ McCabe|Br...,English,"Escondido, California, USA",NaN

In [57]:
(df["Review"]==4.8).value_counts()

False    3245
True       83
Name: Review, dtype: int64

In [58]:
(df["Review"].isna()).value_counts() #null values

False    3076
True      252
Name: Review, dtype: int64

## sort_value

In [60]:
# display the column according to review ratings in ascending order

df.sort_values(by="Review")

,Title,Genres,Release Date,Release Country,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
1499,Countrycide (2017),Horror,8-Sep-17,USA,1.0,NaN,"Directed by Brett Kelly. With Robin Hodge, Joe...",Robin Hodge|Joel Elliott|Andrew Galligan|Peter...,English,NaN,NaN
1691,Una Comedia Macabra (2017),Comedy| Horror,21-Sep-17,Peru,1.0,91 min,"Directed by Sandro Ventura. With Emilia Drago,...",Emilia Drago|Natalia Salas|Adal Ramones|Fiorel...,Spanish,"Lima, Lima, Peru","$600,000"
1454,A Rain Woman (2016),Horror,4-Jun-16,Japan,1.2,NaN,"Directed by Takashi Shimizu. With Hono Miyabe,...",Hono Miyabe|Nao|Nana Seino|Tomorô Taguchi|Yû T...,Japanese,NaN,NaN
2833,Potato Salad (2015),Comedy| Horror,23-Jul-15,Germany,1.3,81 min,Directed by Michael David Pate. With Joyce Ilg...,Joyce Ilg|Torge Oelrich|Otto Waalkes|Ernst-Her...,German,Germany,"€1,000,000"
79,Dead Walkers: Rise of the 4th Reich (2013),Horror,31-Jul-13,USA,1.4,75 min,Directed by Philip Gardiner. With Philip Berza...,Philip Berzamanis|Jane Haslehurst|Bob Lee|Nath...,English|English,"Nottingham, Nottinghamshire, England, UK",NaN
...,...,...,...,...,...,...,...,...,...,...,...
2857,Wildling (2017),Drama| Fantasy| Horror| Mystery,2017,USA,NaN,92 min,"Directed by Fritz Böhm. With Brad Dourif, Liv ...",Liv Tyler|Brad Dourif|James Le Gros|Bel Powley...,English,"Bronx Zoo, Bronx, New York City, New York, USA",NaN
2891,Alpha Delta Zatan (2017),Horror| Mystery| Thriller,24-Oct-17,USA,NaN,NaN,Directed by Art Arutyunyan. With Jeremy Winter...,Jeremy Winter|Jake Kidwell|Connor Field|Drake ...,English,"Los Angeles, California, USA","$50,000"
2894,Totem (2017),Horror,31-Oct-17,USA,NaN,89 min,Directed by Marcel Sarmiento. With Kerris Dors...,Ahna O'Reilly|Kerris Dorsey|James Tupper|Braed...,English,"Pollution Studios, 3239 Union Pacific Ave., Lo...",NaN
3113,Patient Zero (2017),Action| Drama| Horror,2017,USA,NaN,NaN,Directed by Stefan Ruzowitzky. With Natalie Do...,Natalie Dormer|Stanley Tucci|Clive Standen|Mat...,NaN,"Shepperton Studios, Shepperton, Surrey, Englan...",NaN
3260,Buckout Road (2017),Horror,2017,Canada,NaN,NaN,Directed by Matthew Currie Holmes. With Domini...,Dominique Provost-Chalkley|Danny Glover|Jim Wa...,NaN,"Sudbury, Ontario, Canada",NaN

In [61]:
# display the column according to review ratings in descending order

df.sort_values(by="Review",ascending=False)

,Title,Genres,Release Date,Release Country,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
4,bhaago bhoot aaya,Most horror,30-feb-100B.C.,Earth616,10.0,1000min,Directed by Casper the Friendly ghost,Annabelle|THE nun|,Ancient,Ghar me,100 Billion
2569,Bonehill Road (2017),Horror,27-Oct-17,USA,9.8,NaN,"Directed by Todd Sheets. With Andrew Baltes, C...",Andrew Baltes|Clinton Baysinger|Logan Boese|Aa...,English,NaN,NaN
1961,The Theta Girl (2017),Action| Horror| Sci-Fi,13-Oct-17,USA,9.6,98 min,Directed by Christopher Bickel. With Victoria ...,Victoria Elizabeth Donofrio|Shane Silman|Darre...,English,"Columbia, South Carolina, USA","$14,000"
3314,The Carmilla Movie (2017),Comedy| Horror| Romance,26-Oct-17,Canada,9.6,97 min,"Directed by Spencer Maybee. With Elise Bauman,...",Elise Bauman|Natasha Negovanlis|Annie Briggs|K...,English,"Toronto, Ontario, Canada",NaN
1855,Hotel Inferno 2: The Cathedral of Pain (2017),Action| Horror,29-Sep-17,UK,9.5,70 min,"Directed by Giulio De Santi, Tiziana Machella....",Rayner Bourton|Roland Stone|Jade Matthew|Micha...,English,NaN,"€356,893"
...,...,...,...,...,...,...,...,...,...,...,...
2857,Wildling (2017),Drama| Fantasy| Horror| Mystery,2017,USA,NaN,92 min,"Directed by Fritz Böhm. With Brad Dourif, Liv ...",Liv Tyler|Brad Dourif|James Le Gros|Bel Powley...,English,"Bronx Zoo, Bronx, New York City, New York, USA",NaN
2891,Alpha Delta Zatan (2017),Horror| Mystery| Thriller,24-Oct-17,USA,NaN,NaN,Directed by Art Arutyunyan. With Jeremy Winter...,Jeremy Winter|Jake Kidwell|Connor Field|Drake ...,English,"Los Angeles, California, USA","$50,000"
2894,Totem (2017),Horror,31-Oct-17,USA,NaN,89 min,Directed by Marcel Sarmiento. With Kerris Dors...,Ahna O'Reilly|Kerris Dorsey|James Tupper|Braed...,English,"Pollution Studios, 3239 Union Pacific Ave., Lo...",NaN
3113,Patient Zero (2017),Action| Drama| Horror,2017,USA,NaN,NaN,Directed by Stefan Ruzowitzky. With Natalie Do...,Natalie Dormer|Stanley Tucci|Clive Standen|Mat...,NaN,"Shepperton Studios, Shepperton, Surrey, Englan...",NaN
3260,Buckout Road (2017),Horror,2017,Canada,NaN,NaN,Directed by Matthew Currie Holmes. With Domini...,Dominique Provost-Chalkley|Danny Glover|Jim Wa...,NaN,"Sudbury, Ontario, Canada",NaN

In [62]:
#display one column in ascending and other one in descending

df.sort_values(by=["Review","Budget"],ascending=[True,False])

,Title,Genres,Release Date,Release Country,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
1691,Una Comedia Macabra (2017),Comedy| Horror,21-Sep-17,Peru,1.0,91 min,"Directed by Sandro Ventura. With Emilia Drago,...",Emilia Drago|Natalia Salas|Adal Ramones|Fiorel...,Spanish,"Lima, Lima, Peru","$600,000"
1499,Countrycide (2017),Horror,8-Sep-17,USA,1.0,NaN,"Directed by Brett Kelly. With Robin Hodge, Joe...",Robin Hodge|Joel Elliott|Andrew Galligan|Peter...,English,NaN,NaN
1454,A Rain Woman (2016),Horror,4-Jun-16,Japan,1.2,NaN,"Directed by Takashi Shimizu. With Hono Miyabe,...",Hono Miyabe|Nao|Nana Seino|Tomorô Taguchi|Yû T...,Japanese,NaN,NaN
2833,Potato Salad (2015),Comedy| Horror,23-Jul-15,Germany,1.3,81 min,Directed by Michael David Pate. With Joyce Ilg...,Joyce Ilg|Torge Oelrich|Otto Waalkes|Ernst-Her...,German,Germany,"€1,000,000"
79,Dead Walkers: Rise of the 4th Reich (2013),Horror,31-Jul-13,USA,1.4,75 min,Directed by Philip Gardiner. With Philip Berza...,Philip Berzamanis|Jane Haslehurst|Bob Lee|Nath...,English|English,"Nottingham, Nottinghamshire, England, UK",NaN
...,...,...,...,...,...,...,...,...,...,...,...
2817,Nosferatu (2017),Horror,31-Oct-17,USA,NaN,NaN,"Directed by David Lee Fisher. With Doug Jones,...",Doug Jones|Sarah Carter|Joely Fisher|Jack Turn...,English,NaN,NaN
2857,Wildling (2017),Drama| Fantasy| Horror| Mystery,2017,USA,NaN,92 min,"Directed by Fritz Böhm. With Brad Dourif, Liv ...",Liv Tyler|Brad Dourif|James Le Gros|Bel Powley...,English,"Bronx Zoo, Bronx, New York City, New York, USA",NaN
2894,Totem (2017),Horror,31-Oct-17,USA,NaN,89 min,Directed by Marcel Sarmiento. With Kerris Dors...,Ahna O'Reilly|Kerris Dorsey|James Tupper|Braed...,English,"Pollution Studios, 3239 Union Pacific Ave., Lo...",NaN
3113,Patient Zero (2017),Action| Drama| Horror,2017,USA,NaN,NaN,Directed by Stefan Ruzowitzky. With Natalie Do...,Natalie Dormer|Stanley Tucci|Clive Standen|Mat...,NaN,"Shepperton Studios, Shepperton, Surrey, Englan...",NaN
3260,Buckout Road (2017),Horror,2017,Canada,NaN,NaN,Directed by Matthew Currie Holmes. With Domini...,Dominique Provost-Chalkley|Danny Glover|Jim Wa...,NaN,"Sudbury, Ontario, Canada",NaN

## Aggregate Functions

In [63]:
#count the values in particular column

df["Genres"].value_counts()

 Horror                                                    1059
 Horror| Thriller                                           474
 Comedy| Horror                                             245
 Horror| Mystery| Thriller                                  172
 Drama| Horror| Thriller                                    161
                                                           ...
 Horror| Thriller| Western                                    1
 Animation| Action| Adventure| Fantasy| Horror| Mystery       1
 Action| Adventure| Horror| Mystery                           1
 Fantasy| Horror| Mystery| Sci-Fi| Thriller                   1
 Animation| Drama| Horror| Thriller                           1
Name: Genres, Length: 262, dtype: int64

In [64]:
df["Language"].value_counts()

English                          2421
Spanish                            96
Japanese                           77
Hindi                              37
Filipino|Tagalog                   34
                                 ...
English|Japanese|Chinese            1
English|Chinese                     1
Danish|Danish                       1
Tamil|Malayalam|Hindi|English       1
Polish|English|Yiddish              1
Name: Language, Length: 188, dtype: int64

In [65]:
df[df["Language"]=="Hindi" ]

,Title,Genres,Release Date,Release Country,Review,Run Time,Plot,Cast,Language,Filming Locations,Budget
9,Tutak Tutak Tutiya (2016),Comedy| Horror,7-Oct-16,India,5.4,138 min,"Directed by Vijay. With Tamannaah Bhatia, Kari...",Tamannaah Bhatia|Karishma Gulati|Esha Gupta|Am...,Hindi,NaN,NaN
37,Ek Thi Daayan (2013),Horror| Romance| Thriller,18-Apr-13,India,5.7,135 min,"Directed by Kannan Iyer. With Emraan Hashmi, K...",Emraan Hashmi|Konkona Sen Sharma|Kalki Koechli...,Hindi,NaN,NaN
98,Mumbai 125 KM 3D (2014),Adventure| Horror| Mystery| Thriller,17-Oct-14,India,2.9,100 min,Directed by Hemant Madhukar. With Karanvir Boh...,Karanvir Bohra|Vedita Pratap Singh|Veena Malik...,Hindi,India,"INR 200,000,000"
111,1920: Evil Returns (2012),Drama| Horror| Romance,2-Nov-12,India,4.9,124 min,"Directed by Bhushan Patel. With Vicky Ahuja, T...",Vicky Ahuja|Tia Bajpai|Sharad Kelkar|Vidya Mal...,Hindi,NaN,NaN
140,Ghost (2012),Horror,13-Jan-12,India,2.3,118 min,"Directed by Puja Bedi. With Shiney Ahuja, Saya...",Shiney Ahuja|Sayali Bhagat|Julia Bliss|Tabrez ...,Hindi,NaN,NaN
220,Chudail Story (2016),Horror,13-May-16,India,2.9,100 min,"Directed by Surya Lakkoju. With Pankaj Berry, ...",Pankaj Berry|Sunny Charles|Menka Lalwani|Nidhi...,Hindi,India,NaN
314,MSG the Warrior: Lion Heart (2016),Adventure| Comedy| Crime| Drama| Horror,7-Oct-16,India,7.8,120 min,Directed by Gurmeet Ram Rahim Singh. With Asho...,Ashok Insan|Bhushan Insan|Charanpreet Insan|Ga...,Hindi,NaN,"INR 760,000,000"
368,Khamoshiyan (2015),Drama| Horror,30-Jan-15,India,4.0,122 min,Directed by Karan Darra. With Gurmeet Choudhar...,Gurmeet Choudhary|Ali Fazal|Sapna Pabbi|Debina...,Hindi,NaN,NaN
370,Rise of the Zombie (2013),Drama| Horror| Thriller,5-Apr-13,India,4.3,86 min,"Directed by Luke Kenny, Devaki Singh. With Luk...",Luke Kenny|Kirti Kulhari|Ashwin Mushran|Benjam...,Hindi,"Uttarakhand, India","$500,000"
447,Jattu Engineer (2017),Comedy| Crime| Drama| Horror,19-May-17,India,6.6,139 min,"Directed by Honeypreet Insan, Gurmeet Ram Rahi...",Amardeep Insan|Ashok Insan|Divya Insan|Ishwar ...,Hindi,"Sirsa, Haryana, India",NaN
484,Sheitaan (2017),Horror,13-Oct-17,India,NaN,NaN,"Directed by Sameer Khan. With Iti Acharya, Asi...",Iti Acharya|Asif Basra|Nirab Hossain|Meera|Ami...,Hindi,NaN,NaN
576,Saansein: The Last Breath (2016),Horror| Romance,25-Nov-16,India,3.9,101 min,Directed by Rajiv S. Ruia. With Sonarika Bhado...,Sonarika Bhadoria|Amir Dalvi|Rajniesh Duggall|...,Hindi,NaN,NaN
711,Neighbours (2014),Horror,14-Mar-14,India,3.7,125 min,"Directed by Shyam Ramsay. With Hritu, Sunny Si...",Hritu|Sunny Singh|Gavie Chahal|Arbaaz Ali Khan...,Hindi,NaN,"INR 25,000,000"
881,The Witch hour: Curse of the ring (2017),Horror,31-May-17,India,NaN,NaN,Directed by Anjanikumar Tripathi. With Nitin B...,Nitin Bhatia|Prateek Dubey|Saira Khan|Zareena ...,Hindi,NaN,"INR 3,000,000"
991,The Final Exit (2017),Horror,22-Sep-17,India,NaN,NaN,Directed by Dhwanil Mehta. With Kunaal Roy Kapur.,Kunaal Roy Kapur,Hindi,NaN,NaN
1022,Darr @ the Mall (2014),Horror| Thriller,21-Feb-14,India,5.0,124 min,Directed by Pawan Kripalani. With Jimmy Shergi...,Jimmy Shergill|Nushrat Bharucha|Arif Zakaria|V...,Hindi,NaN,NaN
1196,Bhaangarh (2014),Horror,5-Sep-14,India,6.9,NaN,"Directed by Dilip Sood. With Adeel Chaudhry, S...",Adeel Chaudhry|Suzzana Mukherjee|Debonita Sur|...,Hindi,NaN,NaN
1244,6-5=2 (2014),Horror,14-Nov-14,India,5.0,NaN,Directed by Bharat Jain. With Prashantt Guptha...,Prashantt Guptha|Gaurav Paswala|Gaurav Kothari...,Hindi,"Karnataka, India","INR 20,000,000"
1256,The Final Exit Movie (2017),Horror,22-Sep-17,India,6.8,119 min,Directed by Dhwanil Mehta. With Kunaal Roy Kap...,Kunaal Roy Kapur|Mukesh Hariawala|Elena Kazan|...,Hindi,NaN,"INR 80,000,000"
1276,Bhangarh: The Last Episode (2017),Horror,30-Mar-17,India,7.0,84 min,"Directed by Anil Bajpai. With Prashant Barot, ...",Prashant Barot|Deepanshu Malik|Rumana Molla|Ra...,Hindi,"Bhangarh, India","INR 3,200,000"
1482,Hind Ka Napak Ko Jawab (2017),Action| Comedy| Horror,10-Feb-17,India,7.6,130 min,"Directed by Honeypreet Insan, Gurmeet Ram Rahi...",Gurmeet Ram Rahim Singh|Honeypreet Insan|Adity...,Hindi,NaN,"$5,000,000"
1650,3 AM: A Paranormal Experience (2014),Horror| Romance,26-Sep-14,India,6.3,103 min,Directed by Vishal Mahadkar. With Salil Achary...,Salil Acharya|Kavin Dave|Anindita Nayar|Rannvi...,Hindi,"Mumbai, Maharashtra, India",NaN
1662,Aatma (2013),Drama| Horror| Thriller,22-Mar-13,India,3.6,94 min,Directed by Suparn Verma. With Jaideep Ahlawat...,Jaideep Ahlawat|Bipasha Basu|Padam Bhola|Doyel...,Hindi,"Mumbai, Maharashtra, India","$2,000,000"
1676,?: A Question Mark (2012),Horror| Mystery| Thriller,17-Feb-12,India,5.5,82 min,"Directed by Allyson Patel, Yash Dave. With Kir...",Kiran Bhatia|Yaman Chatwal|Maanvi Gagroo|Chira...,Hindi,"Imphal, India",NaN
1695,Raaz 3: The Third Dimension (2012),Horror| Mystery| Romance| Thriller,7-Sep-12,India,4.0,139 min,"Directed by Vikram Bhatt. With Emraan Hashmi, ...",Emraan Hashmi|Bipasha Basu|Esha Gupta|Manish C...,Hindi,NaN,NaN
1851,Alone (2015),Horror,16-Jan-15,India,3.7,133 min,"Directed by Bhushan Patel. With Bipasha Basu, ...",Bipasha Basu|Karan Singh Grover|Sulabha Arya|Z...,Hindi,NaN,NaN
1879,Creature (2014),Action| Horror| Sci-Fi,12-Sep-14,India,3.2,134 min,"Directed by Vikram Bhatt. With Bipasha Basu, I...",Bipasha Basu|Imran Abbas|Mukul Dev|Deep Raj Ra...,Hindi,NaN,NaN
1976,Raaz Reboot (2016),Horror| Mystery| Romance| Thriller,16-Sep-16,India,4.5,128 min,"Directed by Vikram Bhatt. With Emraan Hashmi, ...",Emraan Hashmi|Kriti Kharbanda|Suzanna Mukherje...,Hindi,NaN,NaN
2022,Trip to Bhangarh: Asia's Most Haunted Place (2...,Horror| Thriller,28-Aug-14,India,2.7,113 min,Directed by Jitendra Pawar. With Manish Chaudh...,Manish Chaudhary|Suzanna Mukherjee|Piyush Rain...,Hindi,NaN,NaN
2253,Pizza (2014),Horror| Mystery| Thriller,18-Jul-14,India,6.3,107 min,Directed by Akshay Akkineni. With Akshay Obero...,Akshay Oberoi|Parvathy Omanakuttan|Arunoday Si...,Hindi,NaN,NaN
2507,Great Grand Masti (2016),Comedy| Drama| Fantasy| Horror,15-Jul-16,India,3.7,134 min,"Directed by Indra Kumar. With Urvashi Rautela,...",Urvashi Rautela|Riteish Deshmukh|Puja Bose|Aft...,Hindi,NaN,"INR 30,000,000"
2590,Go Goa Gone (2013),Action| Adventure| Comedy| Horror,10-May-13,India,6.7,108 min,"Directed by Krishna D.K., Raj Nidimoru. With S...",Saif Ali Khan|Kunal Khemu|Vir Das|Anand Tiwari...,Hindi,NaN,NaN
2663,1920 London (2016),Horror| Mystery,6-May-16,USA,4.1,120 min,Directed by Dharmendra Suresh Desai. With Shar...,Sharman Joshi|Meera Chopra|Vishal Karwal|Suren...,Hindi,"Mahabat Maqbara, Junagadh, Gujarat, India",NaN
2713,Kyaa Kool Hain Hum 3 (2016),Comedy| Horror,22-Jan-16,USA,1.8,124 min,"Directed by Umesh. With Tusshar Kapoor, Aftab ...",Tusshar Kapoor|Aftab Shivdasani|Krishna Abhish...,Hindi,NaN,NaN
2768,Machhli Jal Ki Rani Hai (2014),Horror,13-Jun-14,India,4.4,120 min,"Directed by Debaloy Dey. With Swara Bhaskar, R...",Swara Bhaskar|Reema Debnath|Saurabh Dubey|Hrit...,Hindi,"Pachmahri, Madhya Pradesh, India","INR 42,500,000"
2954,Horror Story (2013),Horror,2-May-14,USA,4.7,91 min,"Directed by Ayush Raina. With Karan Kundra, Ni...",Karan Kundra|Nishant Malkani|Hassan Zaidi|Ravi...,Hindi,NaN,NaN
3249,Golmaal Again (2017),Action| Comedy| Fantasy| Horror,20-Oct-17,USA,5.6,140 min,"Directed by Rohit Shetty. With Ajay Devgn, Ars...",Ajay Devgn|Arshad Warsi|Tusshar Kapoor|Shreyas...,Hindi,"Goa, India",NaN

In [ ]:
## dataframe

In [66]:
a=pd.DataFrame() #empty df
a

Empty DataFrame
Columns: []
Index: []

In [ ]:
## drop row values and columns

In [67]:
df1={"fist_col":[10,2,21,13,231],"second_col":["a","b","c","d","e"],"third_col":[0,1,0,1,1]}
df=pd.DataFrame(df1)
df

   fist_col second_col  third_col
0        10          a          0
1         2          b          1
2        21          c          0
3        13          d          1
4       231          e          1

In [68]:
df=df.assign(u=lambda x:x['fist_col']+x['third_col']) #assign a new column with lambda function

In [69]:
df.drop(2) #drop the 2nd row (axis=0 , by default)

   fist_col second_col  third_col    u
0        10          a          0   10
1         2          b          1    3
3        13          d          1   14
4       231          e          1  232

In [70]:
df.drop("u",axis=1) #single columns

   fist_col second_col  third_col
0        10          a          0
1         2          b          1
2        21          c          0
3        13          d          1
4       231          e          1

In [71]:
df.drop(["u","fist_col"],axis=1) #dropping multiple columns

  second_col  third_col
0          a          0
1          b          1
2          c          0
3          d          1
4          e          1

In [ ]:
## Rename columns

In [72]:
df.rename(columns={"fist_col":"First_col","u":"fourth_col"})

   First_col second_col  third_col  fourth_col
0         10          a          0          10
1          2          b          1           3
2         21          c          0          21
3         13          d          1          14
4        231          e          1         232

In [ ]:
#basic operations(aggregate function)

In [73]:
df.sum(axis=1) #adding like(in 0th index, 10+10, in 1st index 2+1+3)

0     20
1      6
2     42
3     28
4    464
dtype: int64

In [74]:
df.sum(axis=0)

fist_col        277
second_col    abcde
third_col         3
u               280
dtype: object

In [75]:
df.mean(axis=0)

fist_col     55.4
third_col     0.6
u            56.0
dtype: float64

In [76]:
df.std()

fist_col     98.398679
third_col     0.547723
u            98.602738
dtype: float64

In [77]:
df.std(axis=1)

0      5.773503
1      1.000000
2     12.124356
3      7.234178
4    133.080176
dtype: float64

In [78]:
df.var()

fist_col     9682.3
third_col       0.3
u            9722.5
dtype: float64

In [79]:
df.var(axis=1)

0       33.333333
1        1.000000
2      147.000000
3       52.333333
4    17710.333333
dtype: float64

In [80]:
df.describe()

         fist_col  third_col           u
count    5.000000   5.000000    5.000000
mean    55.400000   0.600000   56.000000
std     98.398679   0.547723   98.602738
min      2.000000   0.000000    3.000000
25%     10.000000   0.000000   10.000000
50%     13.000000   1.000000   14.000000
75%     21.000000   1.000000   21.000000
max    231.000000   1.000000  232.000000

In [81]:
df.describe(percentiles=[.01,.02,.05,.09]).round(2)

       fist_col  third_col       u
count      5.00       5.00    5.00
mean      55.40       0.60   56.00
std       98.40       0.55   98.60
min        2.00       0.00    3.00
1%         2.32       0.00    3.28
2%         2.64       0.00    3.56
5%         3.60       0.00    4.40
9%         4.88       0.00    5.52
50%       13.00       1.00   14.00
max      231.00       1.00  232.00

In [ ]:
df.describe(percentiles=[.1,.2,.5,.9]).round(2) #? why (decimal)

In [86]:
#  To get summaries for categorical variables only (object column)
df.describe(include=['object'])

       second_col
count           5
unique          5
top             a
freq            1

In [83]:
df.describe(include='all')

          fist_col second_col  third_col           u
count     5.000000          5   5.000000    5.000000
unique         NaN          5        NaN         NaN
top            NaN          a        NaN         NaN
freq           NaN          1        NaN         NaN
mean     55.400000        NaN   0.600000   56.000000
std      98.398679        NaN   0.547723   98.602738
min       2.000000        NaN   0.000000    3.000000
25%      10.000000        NaN   0.000000   10.000000
50%      13.000000        NaN   1.000000   14.000000
75%      21.000000        NaN   1.000000   21.000000
max     231.000000        NaN   1.000000  232.000000

In [ ]:
## Handle missing values

In [84]:
np.nan==np.nan

False

In [85]:
a=np.nan
b=np.nan
a==b

False

In [4]:
np.nan==np.nan

False

In [5]:
np.nan

nan